*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Julius Sans One', sans-serif;
}
section
{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url(../img/hintergrund6.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 50px;
}
.container
{
  position: relative;
  width: calc(100% - 100px);
  min-height: calc(100vh - 280px);
  min-height: 300px;
  background: rgba(255,255,255,0.5);
  box-shadow: 0 15px 35px rgba(0,0,0,0.05);
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
}
header
{
  position: absolute;
  top: -40px;
  right: 20px;
  left: 20px;
  padding: 5px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(255,255,255,0.2);
  box-shadow: 0 15px 35px rgba(0,0,0,0.05);
  border-radius: 20px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255,255,255,0.25);
  border-top: 1px solid rgba(255,255,255,0.5);
  border-left: 1px solid rgba(255,255,255,0.5);
}
header .logo
{
  color: #27408B;
  width: 160px;
  margin-top: 10px;
  text-decoration: none;
}
header .logo:hover{
  transition: 0.5s;
  transform: scale(1.1);
}
header ul{
  display: flex;
}
header ul li{
  list-style: none;
  margin: 0 10px;
  position: relative;
}
header ul li a{
  text-decoration: none;
  font-weight: 500;
  color: #27408B;
  padding: 8px 15px;
  border-radius: 25px;
}
header ul li a:hover,
header ul li a.active
{
  background: #fff;
}
header ul li ul.dropdown1 li {
  display: block;
  margin-top: 10px;
}
header ul li ul.dropdown1 {
  width: 100%;
  background: none;
  position: absolute;
  z-index: 999;
  display: none;
  margin-top: 5px;
  margin-left: -10px;
}
header ul li:hover ul.dropdown1 {
  display: block;
}
header ul li ul.dropdown2 li {
  display: block;
  margin-top: 10px;
}
header ul li ul.dropdown2 {
  width: 100%;
  background: none;
  position: absolute;
  z-index: 999;
  display: none;
  margin-top: 5px;
  margin-left: -10px;
}
header ul li:hover ul.dropdown2 {
  display: block;
}
header ul li ul.dropdown3 li {
  display: block;
  margin-top: 10px;
}
header ul li ul.dropdown3 {
  width: 100%;
  background: none;
  position: absolute;
  z-index: 999;
  display: none;
  margin-top: 5px;
  margin-left: -10px;
}
header ul li:hover ul.dropdown3 {
  display: block;
}
