@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.flex{
  display: flex;
  align-items: center;
  justify-content: center;
}
body{
  min-height: 100vh;
  font-family: 'Julius Sans One', sans-serif;
  color: #27408B;
  background: url(../img/hintergrund6.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.wrapper{
  background: rgba(255,255,255,0.2);
  box-shadow: 0 15px 35px rgba(0,0,0,0.05);
  border-radius: 20px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255,255,255,0.25);
  border-top: 1px solid rgba(255,255,255,0.5);
  border-left: 1px solid rgba(255,255,255,0.5);  padding: 1.5rem 4rem 3rem 4rem;
  width: 600px;
  height: 680px;
  border-top-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  position: relative;
}
.quiz-title{
  margin-top: 50px;
  text-align: center;
  font-size: 2rem;
}
.quiz-score{
  text-align: right;
  font-size: 1.2rem;
  border: 4px solid #27408B;
  font-weight: bold;
  width: 100px;
  height: 50px;
  margin: .5rem auto 1rem auto;
  color: #27408B;
  border-radius: 10px;
}
.quiz-question{
  font-size: 1.2rem;
  text-align: center;
  line-height: 1.3;
  margin-bottom: 2rem;
}
.quiz-question .category{
  font-size: 0.9rem;
  font-weight: 500;
  background-color: #27408B;
  color: white;
  padding: .2rem .4rem;
  border-radius: .2rem;
  margin-top: 0.5rem;
  display: inline-block;
}
.quiz-options{
  list-style-type: none;
  margin: 1rem 0;
}
.quiz-options li{
  border-radius: 0.5rem;
  font-weight: 600;
  margin: .7rem 0;
  padding: .4rem 1.2rem;
  cursor: pointer;
  border: 3px solid #27408B;
  background-color: #27408B;
  color: white;
  box-shadow: 0 4px 0 0 darkblue;
  transition: all 300ms ease-in-out;
}
.quiz-options li:hover{
  background-color: white;
  color: #27408B;
  border-color: white;
  box-shadow: 0 4px 0 0 #bbbbbb;
}
.quiz-options li:active{
  transform: scale(0.97);
}
/* js related */
.selected{
  background-color: lightgrey !important;
  color: #27408B!important;
  border-color: lightgrey !important;
  box-shadow: 0 4px 0 0 #bbbbbb!important;
}
.quiz-foot button{
  border: none;
  border-radius: 0.5rem;
  outline: 0;
  font-family: 'Julius Sans One', sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  padding: .5rem 1rem;
  margin: 0 auto 0 auto;
  text-transform: uppercase;
  cursor: pointer;
  display: block;
  background-color: white;
  color: black;
  letter-spacing: 2px;
  transition: all 300ms ease-in-out;
  box-shadow: 0 4px 0 0 #bbbbbb;
}
.quiz-foot button:hover{
  background-color: #e6e6e6;
  box-shadow: 0 4px 0 0 #a7a7a7;
}
.quiz-foot button:active{
  transform: scale(0.65);
}
#play-again{
  display: none;
}
#result{
  padding: .7rem 0;
  text-align: center;
  font-weight: 600;
  font-size: 1.3rem;
}
#result i{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  line-height: 30px;
  margin-right: .5rem;
  margin-bottom: .5rem;
  background-color: white;
  color: black;
}




@media(max-width: 678px){
  .quiz-title{
    font-size: 1.6rem;
  }
  .wrapper{
    margin: 3rem 0;
    width: 90%;
    height: 90%;
    padding: 1.5rem 1rem 3rem 1rem;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;

  }
  .quiz-foot button{
    font-size: 1rem;
  }
}
.back-button {
  position: fixed;
  top: 10px;
  left: 10px;
  padding: 10px 20px;
  background-color: #27408B;
  color: #FFF;
  text-decoration: none;
  border-radius: 5px;
  border: 1px solid #27408B;
  transition: background-color 0.3s;
}

.back-button:hover {
  transform: scale(0.95);
}
