header
{
  position: absolute;
  top: 40px;
  right: 40px;
  left: 40px;
  padding: 10px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(255,255,255,0.2);
  box-shadow: 0 15px 35px rgba(0,0,0,0.05);
  border-radius: 20px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255,255,255,0.25);
  border-top: 1px solid rgba(255,255,255,0.5);
  border-left: 1px solid rgba(255,255,255,0.5);
}
header .logo
{
  width: 150px;
  margin-top: 10px;
  transition: 0.5s;

}
header .logo:hover{
  transition: 0.5s;
  transform: scale(1.1);
}
header ul{
  display: flex;
}
header ul li{
  list-style: none;
  margin: 0 10px;
  position: relative;
}
header ul li a{
  text-decoration: none;
  font-weight: 500;
  color: #27408B;
  padding: 8px 15px;
  border-radius: 25px;
}
header ul li a:hover,
header ul li a.active
{
  background: #fff;
}
header ul li ul.dropdown1 li {
  display: block;
  margin-top: 10px;
}
header ul li ul.dropdown1 {
  width: 100%;
  background: none;
  position: absolute;
  z-index: 999;
  display: none;
  margin-top: 5px;
  margin-left: -50px;
}
header ul li:hover ul.dropdown1 {
  display: block;
}
header ul li ul.dropdown2 li {
  display: block;
  margin-top: 10px;
}
header ul li ul.dropdown2 {
  width: 100%;
  background: none;
  position: absolute;
  z-index: 999;
  display: none;
  margin-top: 5px;
  margin-left: -50px;
}
header ul li:hover ul.dropdown2 {
  display: block;
}
header ul li ul.dropdown3 li {
  display: block;
  margin-top: 10px;
}
header ul li ul.dropdown3 {
  width: 100%;
  background: none;
  position: absolute;
  z-index: 999;
  display: none;
  margin-top: 5px;
  margin-left: -50px;
}
header ul li:hover ul.dropdown3 {
  display: block;
}
body {
  font-family: 'Julius Sans One', sans-serif;
  text-align: center;
  background: url(../img/hintergrund6.jpg);
  background-size: cover;
  background-position: center;

}

#errors {
  color: #27408B;
  margin-top: 140px;
}

#board {
  width: 450px;
  height: 450px;

  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.tile {
  width: 48px;
  height: 48px;
  border: 1px solid lightslategrey;

  /* Text */
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #27408B;
}

#digits {
  width: 450px;
  height: 50px;
  margin: 0 auto;
  color: #27408B;
  display: flex;
  flex-wrap: wrap;
}

.number {
  width: 44px;
  height: 44px;
  border: 1px solid lightslategrey;
  margin: 2px;
  border-radius: 40px;
  /* Text */
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.number-selected {
  background-color: white;
}

.tile-start {
  background-color: lightsteelblue;
}

.horizontal-line {
  border-bottom: 1px solid black;

}

.vertical-line {
  border-right: 1px solid black;
}

